<form #addressForm="ngForm" novalidate>
  <div fxLayout="row" fxLayoutGap="20px" class="push" fxLayout.xs="column">
    <md-input-container fxFlex>
      <input mdInput name="fullAddress" #fullAddressElement #fullAddressControl="ngModel" placeholder="Put address in" required maxlength="50"
        [(ngModel)]="address.fullAddress">
      <md-hint align="end">{{fullAddressElement.value.length}}/50</md-hint>
      <md-hint align="start">
        <span [hidden]="!fullAddressControl.errors?.required || fullAddressControl.pristine" class="tc-red-600">
          Required
        </span>
      </md-hint>
    </md-input-container>
  </div>
</form> 