
<md-card>
  <md-card-title>
    New Address for this Person
  </md-card-title>
  <md-card-subtitle>
    Fill the form and submit
  </md-card-subtitle>
  <md-card-content>
    <app-address-form #addressForm (valid)="handleValid($event)"></app-address-form>
  </md-card-content>
  <md-list></md-list>
      <md-divider></md-divider>
  <md-card-actions>
    <button md-raised-button color="primary" (click)="handleSubmit(addressForm.address)" [disabled]="!(valid$ | async)">
        <md-icon>send</md-icon>
        <span>Create</span>
    </button>
    <button md-raised-button color="" (click)="goBack()">
        <md-icon>undo</md-icon>
        <span>Back</span>
    </button>
    <a md-raised-button color="" routerLink="..">
      <md-icon>list</md-icon>
      <span>To Address table</span>
    </a>
  </md-card-actions>
</md-card>