<td-data-table #table [data]="data" [columns]="columns" *ngIf="!isEmpty; else hasData">
  <ng-template tdDataTableTemplate="actions" let-row="row">
    <button color="warn" md-icon-button mdTooltip="Delete" (click)="triggerDelete(row)">
      <md-icon>delete</md-icon>
    </button>
    <button color="primary" md-icon-button mdTooltip="Details" mdTooltipPosition="above" (click)="triggerSelect(row)">
      <md-icon>info_outline</md-icon>
    </button>
  </ng-template>
</td-data-table>
<ng-template #hasData>
  <p>No data present</p>
</ng-template>